:root {
  --var-size: 50px;
}
/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body{
  font-family: sans-serif;
}
#app {
  display: flex;
  justify-content:  center;
  align-items: center;
  flex-flow: column nowrap;
}
#main {
  position: relative;
}
.row {
  display:  flex;
  flex-flow:  row nowrap;

}
.col {
  width:  var(--var-size);
  height:  var(--var-size);
  background:  #999;
  margin: 1px;
  font-size: 30px;
  font-weight: bold;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

.flag {
  background: url("img/flag-solid.svg") #999 no-repeat;
  background-size: 50%;
  background-position:  center;
}

.panel {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 50%;
}
.open {
  background: #cbcbcb;
}

.bomb {
  background: url("img/bomb-solid.svg") red no-repeat;
  background-size: 50%;
  background-position:  center;
}
.lose::after {
  content: "";
  width: 100%;
  height:  100%;
  top: 0;
  left:  0;
  position: absolute;
  background: #ff000099;
}
.win::after {
  content: "";
  width: 100%;
  height:  100%;
  top: 0;
  left:  0;
  position: absolute;
  background: #9dff0099;
}

.wrapper {
  position: relative;

}
#cursor_users {
  position: absolute;
  top: 0;
  left: 0;
}
.user {
  position: absolute;
  transition: 0.5s;
  display: block;
  width: 20px;
  height: 20px;
  background: #ffffffc7;
  border: 1px solid #999;
  opacity: .8;
  border-radius: 100%;
  transform: translate(-50%, -50%);
}
.user::before{
  content: attr(data-username);
  font-size: 12px;
  color: black;
  background: white;
  padding: 0px 5px;
  position: absolute;
  left: 25px;

}